[submodule "cloud"]
	path = 1_cloud/cloud
	url = https://github.com/diegonmarcos/cloud.git
	ignore = all
[submodule "cloud-android"]
	path = 1_cloud/cloud-android
	url = https://github.com/diegonmarcos/cloud-android.git
	ignore = all
[submodule "unix"]
	path = 1_cloud/unix
	url = https://github.com/diegonmarcos/unix.git
	ignore = all
[submodule "tools"]
	path = 1_cloud/tools
	url = https://github.com/diegonmarcos/tools.git
	ignore = all
[submodule "vault"]
	path = 1_cloud/vault
	url = https://github.com/diegonmarcos/vault.git
	ignore = all
[submodule "diegonmarcos.github.io"]
	path = 1_cloud/diegonmarcos.github.io
	url = https://github.com/diegonmarcos/diegonmarcos.github.io.git
	ignore = all
[submodule "front-data"]
	path = 1_cloud/front-data
	url = https://github.com/diegonmarcos/front-data.git
	ignore = all
[submodule "front-assets-cdn"]
	path = 1_cloud/front-assets-cdn
	url = https://github.com/diegonmarcos/front-assets-cdn.git
	ignore = all
[submodule "cloud-data"]
	path = 1_cloud/cloud-data
	url = https://github.com/diegonmarcos/cloud-data.git
	ignore = all
[submodule "cloud-data-lfs"]
	path = 1_cloud/cloud-data-lfs
	url = https://github.com/diegonmarcos/cloud-data-lfs.git
	ignore = all
[submodule "front-galaxy-gaia"]
	path = 1_cloud/front-galaxy-gaia
	url = https://github.com/diegonmarcos/front-galaxy-gaia.git
	ignore = all
[submodule "front-asset-cdn"]
	path = 1_cloud/front-asset-cdn
	url = https://github.com/diegonmarcos/front-asset-cdn.git
	ignore = all
